<section class="metodologia-container">

  <h1 class="titulo">
    Nossa Metodologia Integrativa – Ensino de Inglês com Significado
  </h1>

  <p class="intro">
    Na Never Give Up English School, o ensino do Inglês é fundamentado
    na abordagem ESL (English as a Second Language), que busca desenvolver o idioma de forma natural,
    comunicativa e contextualizada.
  </p>

  <!-- ITEM -->
  <div class="metodo-card">

    <img src="assets/imgs/hibrido.png" alt="Teoria e prática" width="30px">

    <h2 (click)="toggle(0)" class="subtitulo">
      🌟 Uma abordagem que integra teoria e prática
    </h2>

    <p class="resumo">
      Integra metodologias modernas respeitando diferentes formas de aprender.
    </p>

    <p class="extra" [class.ativo]="ativo === 0">
      O ESL é potencializado pela integração de diversas metodologias pedagógicas contemporâneas,
      que ampliam as possibilidades de aprendizagem.
    </p>

    <button (click)="toggle(0)">
      {{ ativo === 0 ? 'Ver menos' : 'Ver mais' }}
    </button>

  </div>

  <!-- ITEM -->
  <div class="metodo-card">

    <img src="assets/imgs/Oficina.pngn" alt="Teoria e prática" width="30px">

    <h2 (click)="toggle(1)" class="subtitulo">
      💡 Design Thinking na Educação
    </h2>

    <p class="resumo">
      Incentiva criatividade, autonomia e resolução de problemas.
    </p>

    <p class="extra" [class.ativo]="ativo === 1">
      As crianças exploram, experimentam e recriam, desenvolvendo empatia,
      pensamento crítico e aprendizagem pela experiência.
    </p>

    <button (click)="toggle(1)">
      {{ ativo === 1 ? 'Ver menos' : 'Ver mais' }}
    </button>

  </div>

</section>
