<header class="top-bar">

  <div class="logo">
    <a routerLink="/">
      <img src="assets/imgs/ngulogo.png" alt="Logo">
    </a>
  </div>

  <button class="menu-btn" (click)="toggleMenu()">☰</button>

  <nav class="nav-menu" [class.open]="menuOpen">

    <a routerLink="/quem-somos" (click)="closeMenu()">Quem somos</a>
    <a routerLink="/metodologia" (click)="closeMenu()">Metodologia ESL</a>
    <a routerLink="/teacher-regis" (click)="closeMenu()">Teacher Regis</a>
    <a routerLink="/kids" (click)="closeMenu()">Kids</a>
    <a routerLink="/corporativo" (click)="closeMenu()">Inglês Corporativo</a>
    <a routerLink="/english-survivor" (click)="closeMenu()">English Survivor</a>

  </nav>

</header>
