body {
  margin: 0;
  font-family: sans-serif;
}

/* ===== HEADER ===== */
.topbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 20px;
  position: relative;
  z-index: 1000;
}

/* ===== LOGO ===== */
.logo-and-text img {
  height: 100px;
  width: auto;
  transition: height 0.3s ease;
}

/* ===== BOTÃO MENU (MOBILE) ===== */
.menu-btn {
  box-sizing: border-box;
  margin-left: auto;
  font-size: 28px;
  border-radius: 3px 3px 3px 3px
;
   background: #9a1011;
  border: none;
  cursor: pointer;
  display: block;
  color: white;
  z-index: 1001;
}

/* Esconde o botão no desktop */
@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

/* ===== CONTAINER DO NAV ===== */
.content-nav {
  position: relative;
  background-color: #051b50;
  border-radius: 10px;
}

/* ===== MENU MOBILE FECHADO ===== */
.dropdown-right {
  position: absolute;
  top: 30px;
  right: 1px;
  background-color: #051b50;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  display: flex;

  flex-direction: column;
  width: 400px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  z-index: 999;
}

/* ===== MENU MOBILE ABERTO ===== */
.dropdown-right.open {
  max-height: 500px;
  opacity: 1;
}

/* ===== LINKS ===== */
.dropdown-right a {
  padding: 10px 20px;
  color: #9a1011;
  font-family: "Arial Black", serif;
  text-decoration: none;
  transition: color 0.3s;
}

.dropdown-right a:hover {
  color: #fff;
}

/* ===== DESKTOP ===== */
@media (min-width: 768px) {
  .content-nav {
    background: #051b50;
    border-radius: 10px;
    padding: 10px 10px;
  }

  .dropdown-right {
    position: relative;
    top: 0;
    right: 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    background: transparent;
    box-shadow: none;
    opacity: 1;
    max-height: none;
    width: auto;
  }

  .dropdown-right a {
    color: #9a1011;
    font-size: 16px;
  }

  .dropdown-right a:hover {
    color: #fff;
  }

  .logo-and-text img {
    height: 150px;
  }

  .topbar {
    padding: 12px 80px;
  }
}

