<header class="topbar">
  <section class="logo-and-text">
    <img src="assets/imgs/ngulogo.png" alt="Logo">
  </section>

  <button class="menu-btn" (click)="toggleMenu()">☰</button>

  <div class="content-nav">
    <nav class="dropdown-right" [class.open]="menuOpen">
      <a routerLink="/sobre-nos">Sobre nós</a>
      <a routerLink="/metodologia">Metodologia</a>
      <a href="#">Teacher Regis</a>
      <a href="#">Kids</a>
      <a href="#">Aulas Particulares</a>
       <a href="#">Localização</a>
    </nav>
  </div>
</header>
