
.top-bar{
  display:flex;
  justify-content:space-between;
  align-items:center;
   padding:0 40px;
  height:110px;
  position:fixed;
  width:100%;
  top:0;
  z-index:1000;
}

/* LOGO */

.logo img{
  height:140px;
}

/* BOTÃO MOBILE */

.menu-btn{
  font-size:28px;
background-color: #a21112;
  color: white;
  border:none;
   cursor:pointer;
  display:block;
}

/* MENU */

.nav-menu{
  position:absolute;
  top:110px;
  right:0;
  width:260px;
  background:#051b50;
  display:flex;
  flex-direction:column;
  transform:translateX(100%);
  transition:0.3s;
}

.nav-menu a{
  padding:15px;
  color:white;
  text-decoration:none;
  font-family:"Montserrat",sans-serif;
}

.nav-menu a:hover{
  background:#0a2a7a;
}

/* MENU ABERTO MOBILE */

.nav-menu.open{
  transform:translateX(0);
}
@media (min-width:1024px){

  .menu-btn{
    display:none;
  }

  .nav-menu{
    position:static;
     border-radius:1rem;
    padding: 10px;

    background-color: #051b50;
    transform:none;
    justify-content: space-between;
    flex-direction:row;
     width:60%;
    gap:30px;

  }
  .top-bar {
    display:flex;
    justify-content:center;
    gap:180px;
  }


    .nav-menu a{
      font-size: 22px;

    padding:0;
  }
  .nav-menu a:hover{
    background:none;
  }

}
