<header class="top--bar">
  <section class="logo-and-text">
    <img src="assets/imgs/ngulogo.png" alt="Logo">
  </section>

  <button class="menu-btn" (click)="toggleMenu()">☰</button>

  <div class="content-nav">
    <nav class="dropdown-right" [class.open]="menuOpen">
      <a routerLink="/quem-somos" (click)="closeMenu()">Quem somos  </a>
      <a routerLink="/metodologia" (click)="closeMenu()">Metodologia</a>
      <a routerLink="/teacher-regis" (click)="closeMenu()">Teacher Regis</a>
      <a routerLink="/kids" (click)="closeMenu()">Kids</a>
      <a routerLink="/corporate" (click)="closeMenu()">Inglês Corporativo</a>

     </nav>
  </div>
</header>
