
 .top--bar {
     display: flex;
   justify-content: space-around;
   align-items: center;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 120px;
     z-index: 1000;



 }

 .logo-and-text img {
   margin: 0;
  height: 155px;
  width: auto;
  transition: height 0.3s ease;
}

 .menu-btn {
   box-sizing: border-box;
   margin-left: 110px;
   font-size: 28px;
   border-radius: 3px 3px 3px 3px;
   background: #9a1011;
  border: none;
  cursor: pointer;
  display: block;
  color: #F5F7FA;
  z-index: 1001;
}

 @media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

 .content-nav {
  position: relative;
  background-color: #051b50;
  border-radius: 10px;
}

 .dropdown-right {

   top: 50px;
   right: 20px;
   transform: translateX(1%);
   position: absolute;
   background-color: #051b50;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  display: flex;
   flex-direction: column;
  width: 370px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  z-index: 999;
}

 .dropdown-right.open {
  max-height: 300px;
  opacity: 1;
}

 .dropdown-right a {
  text-decoration-line: none;
   font-weight: 400;
   font-size: 15px;
   padding: 5px 8px;
   line-height: 1.2;
   margin: 0;
   color: white;
 font-family: "Montserrat",sans-serif;
  transition: color 0.3s;
}

.dropdown-right a:hover {
  color: #fff;
}






