.regis-container {
}


/* CONTAINER DA FOTO – GRANDE */
.regis-photo {
  width: 500px;     /* aumenta aqui */
  height: 340px;    /* mesmo valor para manter quadrado */
  margin: 40px auto;
  padding: 8px;
  background: linear-gradient(135deg, #9a1011, #051b50);
  border-radius: 12px; /* use 0 se quiser totalmente quadrada */
  box-sizing: border-box;
}

/* IMAGEM */
.regis-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* não distorce */
  border-radius: 8px;
  display: block;
}



.regis-subtitle {
  font-size: 1rem;
  color: #475569;
  max-width: 500px;
  margin: 20px auto 0;
}


.regis-highlight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: linear-gradient(135deg, #9a1011, #051b50);
  color: #fff;
  padding: 14px 22px;
  border-radius: 12px;
  font-weight: 600;
  margin: 40px auto;
  max-width: 420px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}


.regis-highlight .icon {
  font-size: 1.3rem;
}


.regis-content {
  font-size: 1rem;
  line-height: 1.8;
  color: #334155;
}


.regis-content p {
  margin-bottom: 20px;
}

.regis-header p {
  text-align: center;
}



@media (max-width: 600px) {
  .regis-header h1 {
    font-size: 1.9rem;
  }


  .regis-photo {
    width: 200px;
    height: 200px;
  }
}
