<section class="regis-container">
  <div class="regis-header">
    <h1>Teacher Régis Santos</h1>

    <img src="assets/imgs/teacher-regis.jpeg" alt="Logo">
    <p class="regis-subtitle">
      Fundador e CEO da Never Give Up English School
    </p>
  </div>

  <div class="regis-highlight">
    <strong>💼 +15 anos de experiência ensinando inglês</strong>
  </div>

  <p>
    Teacher Régis Santos é o fundador e CEO da Never Give Up English School. Formado em Teologia, sua jornada no inglês começou quando se preparava para ensinar e atuar como missionário fora do país. Para trabalhar internacionalmente, ele se dedicou profundamente ao estudo do idioma ainda no Brasil.
  </p>

  <p>
    Ao longo de sua carreira, acumulou mais de 20 anos de experiência no exterior, atuando como missionário, conferencista e palestrante em empresas e universidades no Brasil e ao redor do mundo.
  </p>

  <p>
    Durante sua vivência fora do país, Régis percebeu que os métodos tradicionais de ensino no Brasil não preparavam os alunos para o inglês real do dia a dia. Assim, ingressou no programa <strong>English as a Second Language</strong>, na Califórnia, estudando com professores nativos e vivenciando uma metodologia prática e dinâmica. Essa metodologia é hoje a base da Never Give Up.
  </p>

  <p>
    Além disso, Régis possui mais de 10 anos de experiência como alfabetizador do idioma, guiando alunos desde os primeiros passos até níveis avançados.
  </p>

  <p>
    Ele também se especializou no Oriente Médio, estudando Conflitos, Geografia e História Bíblica diretamente em Jerusalém. Atualmente organiza e acompanha viagens de estudo para a Europa e Ásia.
  </p>

  <p>
    Hoje, Régis também é graduando em Direito, no último ano, ampliando sua bagagem acadêmica e cultural.
  </p>
</section>
