:root {
  --header-height: 120px;
}

router-outlet + * {
  margin-top: var(--header-height);
}
html {
  overflow-y: scroll;
}


.conteudo {
  width: 100%;
  max-width: 100%;
  padding-top: 70px;
  box-sizing: border-box;
}

