.metodologia-container {
  max-width: 900px;
  padding: 30px 20px;
  color: #0b1026;
  font-family: "Segoe UI", Roboto, sans-serif;
}

.titulo {
  color: white;
  background-color: #a21112;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 25px;
  border-radius: 2%;
}

.intro {
  font-size: 1.1rem;

  color: #333;
  margin-bottom: 35px;
}

.subtitulo {
  font-family: sans-serif;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #a21112;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}

.texto {
  color:#333;
  font-family: "Montserrat", sans-serif;
  font-size:16px;
  line-height: 1.7rem;
  margin-bottom: 20px;
}

/* Ícones */
.subtitulo span {
  font-size: 1.7rem;
}
